.cadastro {
    margin-top: 10px;
    border-radius: 21px;
    width: 320px;
    height: auto;
    border: solid 2px #ff9933;
    color: white;
    background-color: #0c18338f;
    left: 37%;
    position: absolute;
    box-sizing: border-box;
    padding: 8px 25px;
}

.cadastro p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.cadastro input {
    width: 100%;
    margin-bottom: 21px;
}

.cadastro input[type="text"],
input[type="password"],
input[type="email"] {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.cadastro input[type="submit"] {
    border: none;
    outline: none;
    height: 35px;
    color: black;
    background: white;
    border-radius: 20px;
    transition: 0.2s;
}

.cadastro input[type="submit"]:hover {
    cursor: pointer;
    background: #ff9933;
    transition: 0.2s;
}

.cadastro a {
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #f1f5ef;
    transition: 0, 2s;
}

.cadastro a:hover {
    transition: 0.2s;
    color: #ff9933;
}

.btn-outline-success {
    color: #000000;
    background-color: transparent;
    background-image: none;
    border-color: #000000
}

.copyright {
    background-color: #0c18338f;
    padding: 12px 0;
    font-size: 14px;
    margin: auto;
    width: 100%;
    bottom: 0;
    position: absolute;
}

.checkbox {
    display: none;
}

.checkbox+label:before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 3px;
    margin-right: 5px;
    border: 2px solid gray;
    margin-bottom: -3px;
}

.checkbox:checked+label {
    color: gray;
}

.checkbox:checked+label:before {
    background: orange;
}