<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background: linear-gradient(to right, #446595 0%, #ff9933 100%);
    border-bottom-style: solid;
    border-color: #446595;">
    <a class="navbar-brand" href="#" style="color: black;font-weight: bold;margin-left: 10px;">Randit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" style="color:white;" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:white;" href="#">Sobre</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="color:white;" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Catalogo
                </a>
                <div style="color:white;" class="dropdown-menu">
                    <a class="dropdown-item" href="#">Festas</a>
                    <a class="dropdown-item" href="#">Construção</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Diversos</a>
                </div>
            </li>
            <li class="nav-item">
                <a style="color:white;" class="nav-link" href="#">F.A.Q</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Pesquise algo" aria-label="Search">
            <button class="btn btn-outline-secondary my-2 my-sm-0"
                style="color: white; border-color: white; margin-right: 10px;" type="submit">Pesquisar</button>
            <a href="log.html" class="btn btn-outline-dark my-2 my-sm-0" style="color: white; border-color: white;"
                type="submit">Entrar</a>
        </form>
    </div>
</nav> -->




<div class="cadastro">
    <h1>Cadastro</h1>
    <form [formGroup]="registerForm" class="form-group">
        <p>E-mail</p>
        <input type="email" class="form-control" name="email" placeholder="Email" formControlName="email">
        <p>Usuário</p>
        <input type="text" class="form-control" name="nomeUsuario" placeholder="Nome" formControlName="nomeUsuario">
        <p>Senha</p>
        <input type="password" class="form-control" name="senhaUsuario" placeholder="Senha" formControlName="senhaUsuario">

        <!-- <div class="row m-2">
            <div class="form-input col-sm-2">
                <input class="form-check-input" name="company" type="checkbox" (change)="showHide($event.target.checked);">
                <input class="form-control checkbox" name="company" type="checkbox"/>
            </div>
            <label for="checkbox">Quero ser fornecedor</label>

        </div>
        <div [hidden]="!form.company">
            <p class="hidden">CNPJ</p>
            <input class="form-control" name="cnpj" id="cnpj" type="text" placeholder="CNPJ" [(ngModel)]="form.cnpj">
            <p class="hidden">Razão social</p>
            <input id="razao" form-control="razao" name="razao" type="text" placeholder="Razão" [(ngModel)]="form.razao">
        </div> -->
        <input type="submit" name="" (click)="onSubmit(registerForm.value)" value="Cadastrar">
    </form>
</div>

<!--<script>
    
    $("#checkbox").click(function(){
	
		if($(this).val()=="true"){
			$("#cnpj").css("visibility","hidden");
			
			$(this).val("false");
			}
			else{
					$("#cnpj").css("visibility","visible");
					$(this).val("true");
				}
			
		
		});
    </script>-->


<!--<div class="login">
		<h1>Dados do fornecedor</h1>
		<form>
			<p>CNPJ</p>
			<input type="email" name="" placeholder="Email">
			<p>Razão Social</p>
			<input type="text" name="" placeholder="Nome">
			<input type="submit" name="" value="Login">
		</form>
		</div>-->

<section class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="text-center text-white">
                    &copy; 2018 Randit. All Rights Reserved.
                </div>
            </div>
        </div>
    </div>
</section>