<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <p>{{data.body}}</p>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onNoClick('ok')">{{data.ok}}</button>
    <button mat-raised-button color="warn" (click)="onNoClick('cancel')">{{data.cancel}}</button>
</div>