<div class="col-sm-12 row">
    <div class="col-sm-4 mt-4">
        <mat-card class="example-card" style="height: 100%; background-color: #20a830; color: white; cursor: pointer;" (click)="openDialog(newProduct)">
            <!-- <mat-card-header>
                <mat-card-title style="font-size: 16px;height: 40px; overflow: hidden;">{{p.nome}}</mat-card-title>
                <mat-card-subtitle>{{p.idMarca}}</mat-card-subtitle>
            </mat-card-header>
            <img *ngIf="p.urlFotoPrincipal" mat-card-image src="{{p.urlFotoPrincipal}}" style="height: 200px;">
            <img *ngIf="!p.urlFotoPrincipal" mat-card-image src="../../assets/no-image.png" style="height: 200px;"> -->
            <mat-card-content>
                <mat-icon style="font-size: 100px; margin: 90px 70px;">add_circle</mat-icon>
                <h2 style="text-align: center;">NOVO PRODUTO</h2>
            </mat-card-content>
            <!-- <mat-card-actions style="justify-content: space-between; display: flex; ">
                <button mat-button (click)="openDialog(p); ">DETALHES</button>
                <button mat-button disabled>ALUGAR</button>
            </mat-card-actions> -->
        </mat-card>
    </div>

    <div class="col-sm-4 mt-4 " *ngFor="let p of productList; let i=i ndex ">
        <mat-card class="example-card ">
            <mat-card-header>
                <mat-card-title style="font-size: 16px;height: 40px; overflow: hidden; ">{{p.nome}}</mat-card-title>
                <mat-card-subtitle>{{p.idMarca}}</mat-card-subtitle>
            </mat-card-header>
            <img *ngIf="p.urlFotoPrincipal " mat-card-image src="{{p.urlFotoPrincipal}} " style="height: 200px; ">
            <img *ngIf="!p.urlFotoPrincipal " mat-card-image src="../../assets/no-image.png " style="height: 200px; ">
            <mat-card-content style="height: 40px; overflow: hidden; ">
                <p>
                    {{p.descricao}}
                </p>
            </mat-card-content>
            <mat-card-actions style="justify-content: space-between; display: flex; ">
                <button mat-button (click)="openDialog(p); ">DETALHES</button>
                <button mat-button disabled>ALUGAR</button>
            </mat-card-actions>
        </mat-card>
    </div>

</div>