.login {
    margin-top: 10%;
    border-radius: 21px;
    width: 320px;
    height: auto;
    border: solid 2px #ff9933;
    color: white;
    background-color: #0c18338f;
    left: 37%;
    position: absolute;
    box-sizing: border-box;
    padding: 38px 28px;
}

h1 {
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}

.login p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login input {
    width: 100%;
    margin-bottom: 21px;
}

.login input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.login input[type="submit"] {
    border: none;
    outline: none;
    height: 35px;
    color: black;
    background: white;
    border-radius: 20px;
    transition: 0.2s;
}

.login input[type="submit"]:hover {
    cursor: pointer;
    background: #ff9933;
    transition: 0.2s;
}

.login a {
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #f1f5ef;
    transition: 0, 2s;
}

.login a:hover {
    transition: 0.2s;
    color: #ff9933;
}

.copyright {
    background-color: #0c18338f;
    padding: 12px 0;
    font-size: 14px;
    margin: auto;
    width: 100%;
    bottom: 0;
    position: absolute;
}