<button mat-dialog-close mat-raised-button color="warn" style="color: white; min-width: 20px; width: 20px; height: 30px;">
    <mat-icon style="margin-left: -12px;">clear</mat-icon>
</button>

<mat-card class="dashboard-card">
    <form [formGroup]="registerForm" class="form-control col-sm-12">

        <div class="form-group">
            <mat-form-field appearance="outline" style="width:300px;">
                <mat-label>Nome</mat-label>
                <input matInput name="nome" formControlName="nome">
                <mat-error></mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width:300px; margin-left: 30px;">
                <mat-label>Marca</mat-label>
                <input matInput name="idMarca" formControlName="idMarca">
                <mat-error>Inválido</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width:300px;">
                <mat-label>Descrição</mat-label>
                <input matInput name="descricao" formControlName="descricao">
                <mat-error>Inválido</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width:300px; margin-left: 30px;">
                <mat-label>Características</mat-label>
                <input matInput name="caracteristicas" formControlName="caracteristicas">
                <mat-error>Inválido</mat-error>
            </mat-form-field>

            <img *ngIf="data.urlFotoPrincipal" mat-card-image src="{{data.urlFotoPrincipal}}" style="height: 100px; width: 100px; margin-left: 50px">
            <img *ngIf="!data.urlFotoPrincipal" mat-card-image src="../../assets/no-image.png" style="height: 100px; width: 100px; margin-left: 50px">

            <mat-form-field appearance="outline" style="width:300px;">
                <mat-label>Imagem(url)</mat-label>
                <input matInput name="urlFotoPrincipal" formControlName="urlFotoPrincipal">
                <mat-error>Inválido</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width:300px; margin-left: 30px;">
                <mat-label>Data de Cadastro</mat-label>
                <input matInput name="dtCadastro" formControlName="dtCadastro">
                <mat-error>Inválido</mat-error>
            </mat-form-field>

            <mat-slide-toggle style="margin-left: 30px;" name="flagAtivo" formControlName="flagAtivo">Ativo</mat-slide-toggle>


        </div>
        <div style="display: flex; justify-content: space-evenly;">
            <button mat-raised-button color="warn" (click)="delete(registerForm.value)">
                <mat-icon>delete</mat-icon>
                Excluir
            </button>
            <button mat-raised-button color="basic" (click)="save(registerForm.value)" style="background-color: #20a830; color: white;">
                <mat-icon>done</mat-icon>
                Salvar Alterações
            </button>
            <!-- <button mat-raised-button color="basic" style="background-color: #20a830; color: white;">
                Salvar Todos
            </button> -->
        </div>
    </form>
</mat-card>