<mat-drawer-container class="example-container">
    <mat-drawer [hidden]="isLoggedIn()" mode="side" opened class="col-sm-2">

        <div class="example-button-row">
            <h2 style="text-align: center;">Menu</h2>
            <button mat-button color="primary" onclick="window.location.href='/products'">
                <mat-icon aria-hidden="false">storage</mat-icon>
                Produtos
            </button>
            <button mat-button color="primary" onclick="window.location.href='/companies'">
                <mat-icon aria-hidden="false">domain</mat-icon>
                Empresas
            </button>
            <button mat-button color="primary" onclick="window.location.href='/users'">
                <mat-icon aria-hidden="false">people</mat-icon>
                Usuarios
            </button>
            <button mat-button color="primary" (click)="logout()">
                <mat-icon aria-hidden="false">exit_to_app</mat-icon>
                Sair
            </button>
        </div>

    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>