.example-container {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.example-button-row button,
.example-button-row a {
    width: 100%;
    text-align: start;
    height: 50px;
    border: none;
    outline: none;
}