<!-- <script>
    $(document).ready(function() {
        $('#companyTable').DataTable({
            searching: false,
            ordering: false
        });
    });
</script> -->

<!-- <nav id="menu" class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="src/assets/images/favicon.jpeg" width="30px" height="30px" style="margin: 10px" />
    <a class="navbar-brand" href="#">Randit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/lista-de-produtos">Produtos <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lista-de-usuarios">Usuários</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lista-de-empresas">Empresas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lista-de-enderecos">Endereços</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="sair()" style="cursor: pointer;">Sair</a>
            </li>
           
        </ul>
    </div>
</nav> -->
<mat-grid-list cols="4" rowHeight="fit" style="height:100%; overflow: auto;">

    <mat-grid-tile style="background-color: lightgray;">
        <div style="top: 0; margin-top: 20px ;display: flex; position: absolute;">
            <button disabled mat-button style="color: gray;">
                Novo Usuário
            </button>
            <button mat-mini-fab (click)="newUser()" style="background-color: #20a830; color: white;">
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <div class="example-button-row col-sm-12" style="height: 500px;  overflow-y: scroll; overflow-x: hidden;">

            <button class="col-sm-12" style="justify-content: start; display: flex;" mat-button color="primary" *ngFor='let u of userList; let i = index' (click)="userSelected = userList[i]">
                <mat-icon aria-hidden="false">domain</mat-icon>
                {{u.nome}} + {{u.sobreNome}}
            </button>
        </div>
    </mat-grid-tile>

    <mat-grid-tile style="background-color: white;" [colspan]="3">
        <mat-card class="dashboard-card">
            <form class="form-control col-sm-12">

                <div class="form-group">

                    <mat-form-field appearance="outline" style="width:300px;">
                        <mat-label>Nome</mat-label>
                        <input matInput name="nome" [(ngModel)]='userSelected.nome'>
                        <mat-error *ngIf="">Inválido</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="width:300px; margin-left: 30px;">
                        <mat-label>Sobrenome</mat-label>
                        <input matInput name="sobreNome " [(ngModel)]='userSelected.sobreNome'>
                        <mat-error *ngIf=" ">Inválido</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="width:300px;">
                        <mat-label>CPF</mat-label>
                        <input matInput name="numeroCpf" [(ngModel)]='userSelected.numeroCpf'>
                        <mat-error *ngIf=" ">Inválido</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="width:300px; margin-left: 30px;">
                        <mat-label>Email</mat-label>
                        <input matInput name="email " [(ngModel)]='userSelected.email'>
                        <mat-error *ngIf=" ">Inválido</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="width:300px;">
                        <mat-label>Nome Usuario</mat-label>
                        <input matInput name="nomeUsuario" [(ngModel)]='userSelected.nomeUsuario'>
                        <mat-error *ngIf="2==2 ">Inválido</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="width:300px; margin-left: 30px;">
                        <mat-label>Senha</mat-label>
                        <input matInput type="password" name="senhaUsuario" [(ngModel)]='userSelected.senhaUsuario'>
                        <mat-error *ngIf=" ">Inválido</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="width:300px;">
                        <mat-label>Perfil Acesso</mat-label>
                        <input matInput name="idUsuarioPerfilAcesso" [(ngModel)]='userSelected.idUsuarioPerfilAcesso'>
                        <mat-error *ngIf=" ">Inválido</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="width:300px; margin-left: 30px;">
                        <mat-label>Telefone</mat-label>
                        <input matInput name="idContatoTelefone" [(ngModel)]='userSelected.idContatoTelefone'>
                        <mat-error *ngIf=" ">Inválido</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="width:300px;">
                        <mat-label>Data de Cadastro</mat-label>
                        <input matInput name="dtCadastro" [(ngModel)]='userSelected.dtCadastro' disabled>
                        <mat-error *ngIf=" ">Inválido</mat-error>
                    </mat-form-field>

                    <mat-slide-toggle style="margin-left: 30px;" name="flagAtivo" [(ngModel)]='userSelected.flagAtivo'>Ativo</mat-slide-toggle>


                </div>
                <div style="display: flex; justify-content: space-evenly;">
                    <button mat-raised-button color="warn" (click)="deleteUser(userSelected)">
                        Excluir
                    </button>
                    <button mat-raised-button color="basic" (click)="saveUser(userSelected)" style="background-color: #20a830; color: white;">
                        Salvar Alterações
                    </button>
                    <!-- <button mat-raised-button color="basic" style="background-color: #20a830; color: white;">
                        Salvar Todos
                    </button> -->
                </div>
            </form>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>











<!-- Confirmation Dialog -->
<!-- <div ng-show="showModal " style="position: absolute; z-index: 9; width: calc(100% - 20px); ">
    <div class="modal-dialog " role="document ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h5 class="modal-title ">Alterar Item</h5>
                <button type="button " class="close " data-dismiss="modal " aria-label="Fechar " ng-click="closeModal() ">
					<span aria-hidden="true ">&times;</span>
				</button>
            </div>
            <div class="modal-body " style="overflow-y: scroll; height: calc(350px) !important; ">
                <div class="form-group " ng-repeat="(k,v) in itemSelected ">
                    <label for="k ">k</label><br>
                    <input ng-disabled="k=='id' " id="k " value="v " name="k " type="text " class="form-control ">
                </div>


            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-secondary " data-dismiss="modal " ng-click="closeModal(); ">Cancelar</button>
                <button type="button " class="btn btn-primary " ng-click="updateCompany() ">Salvar mudanças</button>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="col-sm-12 " style="background-color: #EEEEEE; overflow-x: auto; width: calc(100% - 20px); ">
    <input style="margin: 10px; padding: 5px; " type="search " ng-model="selectText " placeholder="Procurar ">
    <input type="button " ng-click="getCompanys() " value="Listar Empresas " class="btn btn-info " />
    <input type="button " value="Novo " class="btn btn-success " ng-click="open(itemSelected); " style="width: 80px; margin: 2px; ">

    <table id="companyTable " width="calc(100% - 20px) ">
        <thead>
            <tr>
                <th></th>
                <th width="50px ">id</th>
                <th width="50px ">razaoSocial</th>
                <th width="50px ">nomeFantasia</th>
                <th width="50px ">numeroCnpj</th>
                <th width="50px ">atividadeEmpresa</th>
                <th width="50px ">descricao</th>
                <th width="50px ">inscricaoEstadual</th>
                <th width="50px ">inscricaoMunicipal</th>
                <th width="50px ">idContatoEndereco</th>
                <th width="50px ">idContatoTelefone</th>
                <th width="50px ">idEmpresaMatriz</th>
                <th width="50px ">tipoContribuinte</th>
                <th width="50px ">dtCadastro</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="c in companys | filter: selectText ">
                <td><input type="button " value="Editar " class="btn btn-primary " ng-click="open(companys[$index]) " style="width: 80px; margin: 2px; ">
                    <input type="button " value="Excluir " class="btn btn-danger " ng-click="removeCompanys($index) " style="width: 80px; margin: 2px; ">
                </td>
                <th>c.id</th>
                <th>c.razaoSocial</th>
                <th>c.nomeFantasia</th>
                <th>c.numeroCnpj</th>
                <th>c.atividadeEmpresa</th>
                <th>c.descricao</th>
                <th>c.inscricaoEstadual</th>
                <th>c.inscricaoMunicipal</th>
                <th>c.idContatoEndereco</th>
                <th>c.idContatoTelefone</th>
                <th>c.idEmpresaMatriz</th>
                <th>c.tipoContribuinte</th>
                <th>c.dtCadastro</th>
            </tr>
        </tbody>
    </table>
</div> -->