/* You can add global styles to this file, and also import other style files */
body{
	margin: 0;
	padding: 0;
	background: url('./assets/tool-background.jpg') no-repeat center fixed;
	background-size: cover;
	font-family: "confortaa", sans-serif;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
